{% extends 'base.html' %}
{% load avatar_tags i18n %}

{% block content %}


<div class="container">
    <div class="row p-4 m-4">
        <main class="post blog-post col-lg-8">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">
                    <div class="c">{{ user.first_name }} welcome to your profile page</div>
                </h6>

                <div class="media text-muted pt-2">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                   {% avatar user 60 %}

                        {% if not isavatar %}

                         <small class="d-block text-right mt-0">
                             <b>{% trans "You haven't uploaded an avatar yet. Please upload one now >>" %}</b>&nbsp;&nbsp;
                                <a href="{% url 'avatar_add' %}">Add avatar</a>

                         </small>
                        {% else %}
                        <small class="d-block text-right mt-0">
                            <a href="{% url 'avatar_change' %}">Change your avatar</a>
                        </small>
                        {% endif %}
                    </p>
                </div>
                <div class="media text-muted pt-2">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">User Name:</strong>
                        {{ user.username }}
                        <small class="d-block text-right">
                            <a href="{% url 'update-profile' username=user.username %}">Change Username</a>
                        </small>
                    </p>
                </div>
                <div class="media text-muted pt-2">
                    <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">First Name:</strong>
                        {{ user.first_name }}

                        <small class="d-block text-right">
                            <a href="{% url 'update-profile' username=user.username %}">Edit Name</a>
                        </small>
                    </p>
                </div>
                <div class="media text-muted pt-2">
                    <p class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Last Name:</strong>
                        {{ user.last_name }}

                        <small class="d-block text-right">
                            <a href="{% url 'update-profile' username=user.username %}">Edit Name</a>
                        </small>
                    </p>
                </div>
                <div class="media text-muted pt-2">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Email:</strong>
                        {{ user.email }}

                        <small class="d-block text-right">
                            <a href="{% url 'account_email' %}">Edit Email</a>
                        </small>
                    </p>
                </div>
                <div class="media text-muted pt-2">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Password:</strong>
                        xxxx{{ user.password|slice:":4" }}

                        <small class="d-block text-right">
                            <a href="{% url 'account_set_password' %}">Change Password</a>
                        </small>
                    </p>
                </div>

            </div>
        </main>
    </div>
</div>

<style>
div.a {
  text-transform: uppercase;
}

div.b {
  text-transform: lowercase;
}

div.c {
  text-transform: capitalize;
}
</style>

{% endblock content %}