{% extends 'django_knowledge/inner.html' %}

{% load i18n %}


{% block head_title %}{% trans "Support" %}{% endblock %}

{% block knowledge_widgets %}
<div class="container">
  <div class="row p-3 m-4">
    <main class="posts-listing col-lg-8">

        <div class="dk-widget">
           <div class="shadow-lg p-2 mb-2 bg-white rounded">
          <h5 class="h5 p-2 mb-3 font-weight-normal">{% blocktrans with count=questions|length %}Top {{ count }} Questions{% endblocktrans %}</h5>

            <hr />
            {% include 'django_knowledge/question_list.html' %}
           </div>
           </div>

    </main>
    {% include "django_knowledge/sidebar.html" %}
  </div>
</div>
{% endblock knowledge_widgets %}
