{% load i18n %}
<div class="m-0" style="width:18rem;">
  <div class="widget my-question m-0">
    <header>
      <div class="bg-light p-2 rounded">
        {% trans "Navigate" %}
      </div>
    </header>
    <hr />
    <ul class="p-1 m-1">
      <li><a href="{% url 'knowledge_ask' %}">{% trans "Tell Me How" %}</a></li>
      <li><a href="{% url 'knowledge_index' %}">{% trans "Tell Me How - Home" %}</a></li>
    </ul>
  </div>
  <div class="widget my-question m-0">
    <header>
      <div class="bg-light p-2 rounded">
        {% trans "My Questions" %}
      </div>
    </header>
    <hr />
    {% if my_questions %}
    <ul class="list-inline">
      {% for question in my_questions %}

      <li class="">
        <a href="{{ question.get_absolute_url }}">
          {{ question.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}<em><small>{% trans "You have not asked any question" %}</small></em>
    {% endif %}
  </div>
  <div class="widget tags m-0">
    <header>
      <div class="bg-light p-2 rounded">
        {% trans "Categories" %}
      </div>
    </header>
    <hr />
      <ul class="list-inline">
        {% for category in categories %}

        <li class="list-inline-item sm">
          <a href="{% url 'knowledge_list_category' category.slug %}" class="tag">
           <small>{{ category.title }}</small>
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>

</div>

