{% extends "avatar/base_card.html" %}
{% load i18n avatar_tags %}
{% block card-header %}

<h3 class="h3 mb-3 font-weight-normal">{% trans "Your current avatar: " %}</h3>
{% endblock card-header %}
{% block card-body %}
<div class="media text-muted pt-2">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        {% avatar user %}
</p>
        {% if not avatars %}
    <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}

</div>
<form method="POST" action="{% url 'avatar_change' %}">
    <input type="hidden" name="next" value="{% url 'profile-home' request.user %}" />
    <ul>
        {{ primary_avatar_form.as_table }}
    </ul>
    <p>{% csrf_token %}<input class="btn btn btn-md btn-primary"  type="submit" value="{% trans "Choose new Default" %}" /></p>
</form>
{% endif %}
<form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
    {{ upload_avatar_form.as_table }}
    <p>{% csrf_token %}<input class="btn btn btn-md btn-primary" type="submit" value="{% trans "Upload New Image" %}" /></p>
</form>
{% endblock %}
